<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <true/>
    <key>method</key>
    <string>appstore</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>org.divvun.satni</key>
        <string>match AppStore org.divvun.satni</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>2K5J2584NX</string>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
</dict>
</plist>
